<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.name %>: </strong>
          <%= comment.comment%>
        </p>
      </div>
    </div>
    <button _ngcontent-ggo-c50="" class="btn btn-link mb-2">
      <%= link_to 'Delete', [comment.post, comment], method: :delete, class: 'button is danger', data: {confirm: 'Are you sure? '}%>
    </button>
  </article>
</div>
