<div class="media mb-4">
  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
  <div class="media-body">
    <h5 class="mt-0"><strong><%= comment.name %></strong></h5>
    <%= comment.comment%>
    <button class="btn btn-link mb-2">
      <%= link_to 'Delete', [comment.post, comment], method: :delete, class: 'link', data: {confirm: 'Are you sure? '}%>
    </button>
  </div>
</div>
