<div class="section p-5">
  <h2 _ngcontent-ggo-c50="" class="mb-4">Post Content</h2>
  <%= simple_form_for @post do |f| %>
    <div class='field'>
      <div class='control'>
        <%= f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
    </div>
    <div class='field'>
      <div class='control'>
        <%= f.input :content, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' }%>
      </div>
    </div>
    <button _ngcontent-ggo-c50="" data-cy="updateButton" type="submit" class="btn btn-primary">
      <%= f.button :submit, 'Create Post', class: 'button is-primary' %>
    </button>
  <% end %>
</div>
